.card__item {
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    display: flex;
}

.card__section {
    width: 50%;
    height: 100%;
    border-right: 1px solid #0000001f;
    padding: 30px 10px;
    box-sizing: border-box;
    transition: var(--transition);
}

.desc__section {
    background-color: #a8a8772e;
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 9px;
}

.desc__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc__wrapper--reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.section__link {
    width: 36px;
    height: 26px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: var(--transition);
}

.section__link--back {
    margin-right: 10px;
}



/* ====== AVATAR ====== */
card__avatar {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
}

.card__title { 
    margin-top: 0;
    text-align: center;
    text-transform: capitalize;
}

.card__subtitle {
    margin: 0;
    line-height: 32px;
}

.type {
    padding: 5px 10px;
    border-radius: 50px;
    margin-right: 5px;
    background-color: #a8a877;
    color: #FFFFFF;
}

.type:last-child {
    margin-right: 20px;
}

.type--normal { background-color: #a8a877; }
.type--fighting { background-color: #c03028; }
.type--flying { background-color: #a890f0; }
.type--poison { background-color: #a14aa0; }
.type--ground { background-color: #e0c068; }
.type--rock { background-color: #b8a038; }
.type--bug { background-color: #a8b820; }
.type--ghost { background-color: #705898; }
.type--grass { background-color: #78c850; }
.type--fire { background-color: #f08030; }
.type--water { background-color: #6790f0; }
.type--electric { background-color: #f8d030; }
.type--psyhic { background-color: #f25788; }
.type--ice { background-color: #98d9d8; }
.type--dragon { background-color: #786df8; }
.type--fairy { background-color: #f376a9; }

.card__basic {
    display: flex;
    justify-content: center;
}

.basic__number {
    font-weight: bold;
}


/* ====== DESCRIPTION ====== */
.card__stats {
    display: flex;
    flex-wrap: wrap;
}

.stat__name {
    width: 49%;
    line-height: 27px;
}

.stat__value {
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}


/* ====== MOVES ====== */
.card__moves {
    position: absolute;
    right: -100%;
    background-color: #FFFFFF;
}

.card__moves--pulled {
    right: 0%;
}

.card__moves-list {
    height: 100%;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.card__wrapper--reverse {
    border-bottom: 1px solid gray;
}

.item__title {
    cursor: pointer;
}


/* ====== LOCATIONS ====== */
.locations-list__item {
    display: flex;
    justify-content: space-between;
}

.item__version {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.version__title {
    padding-bottom: 5px;
}

.version__orb {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50px;
    display: inline-block;
    margin-left: 5px;
}

.version__orb--red { background-color: red; }
.version__orb--blue { background-color: blue; }
.version__orb--yellow { background-color: yellow; }